<div class="row landing_page">
  <div class="col-md-13 center-block col-xs-14 col-sm-14 col-lg-9">
    <%= image_tag("About_text1.png", class: "img-responsive experience col-md-offset-1 col-lg-offset-") %>
  </div>
</div>

<div class="row landing_page">
  <div class="col-md-13 center-block col-xs-14 col-sm-14 col-lg-9">
    <%= image_tag("About_text_2.png", class: "img-responsive experience col-md-offset-1 col-lg-offset-") %>
  </div>
</div>

<div class="row landing_page">
  <div class="col-md-13 center-block col-xs-14 col-sm-14 col-lg-9">
    <%= image_tag("About_text3.png", class: "img-responsive experience col-md-offset-1 col-lg-offset-") %>
  </div>
</div>
