<div class="white_color_and_center">
<h1> The SelfMade Experience </h1>

<h2> Send </h2>
<p> us any picture you want to share on social media.  The better the image you send us, the better the results will be.  Not sure what we mean by better? Click here for some tips.
</p>

<h2> Pick </h2>
<p>
  from three stunning and innovate designs.  You can count on always receiving one retouched version of your image… but the other two are a surprise ;)
</p>

<h2> Share </h2>
<p>
  with ease on any platform you want.  Tell us where you want to share and we’ll make sure the image is formatted perfectly.  If you’re feeling bold, give us a #selfmade shoutout.
</p>
</div>
