  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js"></script>

<div class="row">
  <div class="col-md-14 center-block col-xs-14 col-sm-14 col-lg-14">
      <%= image_tag("http://d1wa66qgcl7v1x.cloudfront.net/Nazli_01.jpg", class: "gallery_change", style: "position:absolute")%>
      <%= image_tag("http://d1wa66qgcl7v1x.cloudfront.net/Nazli_02.jpg", class: "gallery_change nonhighlighted", style: "position:absolute; display:none;")%>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function(){
  console.log("momo");
  var image = ["http://d1wa66qgcl7v1x.cloudfront.net/Nazli_01.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Tory_01.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Nazli_03.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Laura_01.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Chinae_01.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Kali_01.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Erin_01.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Anya_01.png", "http://d1wa66qgcl7v1x.cloudfront.net/Ecem_01.jpg"];
  var imageOld = ["http://d1wa66qgcl7v1x.cloudfront.net/Nazli_02.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Tory_02.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Nazli_04.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Laura_02.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Chinae_02.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Kali_02.jpg", "http://d1wa66qgcl7v1x.cloudfront.net/Erin_02.jpg", "https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Red.svg/120px-Red.svg.png", "http://d1wa66qgcl7v1x.cloudfront.net/Ecem_02.jpg"];
  var index = 0;
    $(".gallery_change").on('touchstart mousedown',function(e){
      e.preventDefault();
      $('.nonhighlighted').show();
    }).bind('touchend mouseup', function(e) {
      e.preventDefault();
      $('.nonhighlighted').hide();
    });
    $(".gallery_change").on('swipeleft', function(e){
      console.log("moo");
      index += 1;
      // debugger;
      $(this).attr("src", image[index]);
      $('.nonhighlighted').attr("src", imageOld[index]);
    });
})
</script>
