.devise\/sessions {
  // background-color: white;
  .container-fluid{
      h2 {
        color: white;
      }
    form {
      div.field {
        font-size: 100%;
        color: white;
        input {
          color: black;
        }
      }
    }
  }
}

.admins {
  .container-fluid {
    .row {

      table.admintable {
        margin-left: 0;
        margin-top: 4%;
        font-size: 130%;
        width: 100%;
        color: white;

        tbody{
          tr {
            th {
              form.button_to {
                input {
                  color:black;
                }
              }
            }
          }
        }
      }
    }
    .add_users {
      float:left;
      font-size: 200%;
    }

    .logout {
      float: right;
      font-size: 200%;
    }
  }
}

.twilio {
  color: white;
}
