.gallery_change{
	width:55vh;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	// height: 98%;
	// margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
	margin-top: 2%;
	// margin-left: 2vh;
// 	margin-right: 0;
// 	padding-left: 0;
// 	padding-right: 0;
}

// @media (min-width: 992px) {
// 	margin-left: 48vh;
// }
