#new1{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Nazli_01.jpg");
}

#old1{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Nazli_02.jpg");
}

#new2{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Tory_01.jpg");
}

#old2{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Tory_02.jpg");
}

#new3{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Nazli_03.jpg");
}

#old3{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Nazli_04.jpg");
}

#new4{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Laura_01.jpg");
}

#old4{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Laura_02.jpg");
}

#new5{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Chinae_01.jpg");
}

#old5{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Chinae_02.jpg");
}

#new6{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Kali_01.jpg");
}

#old6{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Kali_02.jpg");
}

#new7{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Erin_01.jpg");
}

#old7{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Erin_02.jpg");
}

#new8{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Anya_01.png");
}

#old8{
	content:url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Red.svg/120px-Red.svg.png")
}

#new9{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Ecem_01.jpg");
}

#old9{
	content:url("http://d1wa66qgcl7v1x.cloudfront.net/Ecem_02.jpg");
}

.gallery_th{
	width:33.333%
}

.gallery_change{
	width:98%;
	// height: 98%;
	margin: 0 auto;
	margin-top: 2%;
// 	margin-left: 0;
// 	margin-right: 0;
// 	padding-left: 0;
// 	padding-right: 0;
}
