#new1{
	content:url("Nazli_01.jpg");
}

#old1{
	content:url("Nazli_02.jpg");
}

#new2{
	content:url("Tory_01.jpg");
}

#old2{
	content:url("Tory_02.jpg");
}

#new3{
	content:url("Nazli_03.jpg");
}

#old3{
	content:url("Nazli_04.jpg");
}

#new4{
	content:url("Laura_01.jpg");
}

#old4{
	content:url("Laura_02.jpg");
}

#new5{
	content:url("Chinae_01.jpg");
}

#old5{
	content:url("Chinae_02.jpg");
}

#new6{
	content:url("Kali_01.jpg");
}

#old6{
	content:url("Kali_02.jpg");
}

#new7{
	content:url("Erin_01.jpg");
}

#old7{
	content:url("Erin_02.jpg");
}

#new8{
	content:url("Anya_01.png");
}

#old8{
	content:url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Red.svg/120px-Red.svg.png")
}

#new9{
	content:url("Ecem_01.jpg");
}

#old9{
	content:url("Ecem_02.jpg");
}

.gallery_th{
	width:33.333%
}

.gallery_change{
	width:98%;
	// height: 98%;
	margin: 0 auto;
	margin-top: 2%;
// 	margin-left: 0;
// 	margin-right: 0;
// 	padding-left: 0;
// 	padding-right: 0;
}
