//for new design pages
.landing{
  margin-top: 6%;
}

.gallery_text {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.contact_text_01 {
  margin-top: 41%;
}

.form_label{
  color: white;
  font-size: 2.4em;
  margin-top: 7%;

}

.form-group{
  margin-left: 90%;
}

.form_image {
  margin: 0 auto;
}

.form_image_div {
  margin: 0 auto;
}
