@media (min-width: 992px) {
  body{
    background-color: black;
  }

  .salfmade_logo {
    margin-top:0;
    margin-bottom: 0;
  }

  .container-fluid{
    min-height: 100vh;
    width: 100vh;
  }

  .vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
   margin-top: 0 !important;
  }

 }

 .salfmade_logo {
   margin-top: 7%;
   margin-bottom: 7%;
 }

 body{
   background-color: black;
 }

 .vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin-top: 5%;
}

.control-label{
  float:left;
}
