
 body{
   background-color: black;
 }

 .vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin-top: 5%;
}

.join_form {
  margin-top: 20%;
}
//for new design pages
.landing{
  margin: 0 auto;
  margin-top: 6%;
}

.landing_2 {
  margin: 0 auto;
  margin-top: 6%;
}

.experience {
  margin: 0 auto;
  margin-top: 12%;
}

.gallery_text {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.gallery_01 {
  margin: 0 auto;
  margin-top: 8%;
}

.contact_text_01 {
  margin: 0 auto;
  margin-top: 41%;
}

.contact_text_02 {
  margin: 0 auto;
  margin-top: 41%;
}
