@media (min-width: 992px) {

  .landing{
    margin-top: 1%;
  }

  .landing_2 {
    margin-top: 2%;
  }

  .contact_text_01 {
    margin-top: 12%;
  }

  .salfmade_logo {
    margin-top:0;
    margin-bottom: 0;
  }

  .col-lg-9{
    float: none;
  }

  a:hover{
    cursor: hand;
  }

  .experience{
    margin-top: 4%;
  }

  .gallery_text{
    width:40%;
  }

  .form-control {
    width: inherit;
    padding: 3%;
  }

  .form_label{
    margin-top: 0;
  }

  .gallery_text_desktop{
    margin-top: -3%;
  }

  .landing_3 {
    margin-top: 1%;
  }

  .contact_text_02{
    margin-top: 12%;
    width: 18%;
    text-align: center;
  }

  .contact_text_03 {
    margin-top: 4%;
  }

  table {
  	width:70%;
  	margin-left: 15%;
  }


 }
