@media (min-device-width: 768px) and (max-device-width: 992px) {
  .landing {
    margin: 0 auto;
  }

  .landing_2 {
    margin: 0 auto;
    margin-top: 5%;
    width: 75vw;
  }

  .experience{
    margin:0 auto;
    margin-top: 5%;
  }

  .contact_text_01 {
    margin:0 auto;
    margin-top: 41%;
  }
  .contact_text_02 {
    margin:0 auto;
    margin-top: 41%;
  }
  .contact_text_03 {
    margin:0 auto;
    margin-top: 10%;
  }
  .form-control {
    width: 88%;
    padding: 4.2%;
    margin-top: 8%;
  }

  table {
  	width:100%;
  }


}
