.form-control {
  width: 65%;
}

.survey_input {
  background-color: black;
  border-color: white;
}
.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

.blue_div {
  border-style: solid;
  border-color: blue;
}

.yellow_div {
  border-style: solid;
  border-color: yellow;
}
