.survey_input {
  background-color: black;
  border-color: white;
  border-width: 1.3px;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 3em;
  color: #00ff00;
}

input:focus { color: #00ff00 }

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

.blue_div {
  border-style: solid;
  border-color: blue;
}

.yellow_div {
  border-style: solid;
  border-color: yellow;
}
